GITLAB_TOKEN='runner-registration-token'
WATCHTOWER_TOKEN='1f0a5ed6-2cf1-4060-959c-6d39d358f426'
REGISTRY_USER='gitlab+deploy-token-XXXX'
REGISTRY_PASSWORD='token'
BASE_REGISTRY='registry.gitlab.com/tsuyakashi/poly-ci'
