WATCHTOWER_TOKEN='1f0a5ed6-2cf1-4060-959c-6d39d358f426'

BASE_REGISTRY='registry.gitlab.com/tsuyakashi/poly-ci'
REGISTRY_PASSWORD='token'

REGISTRY_USER='gitlab+deploy-token-XXXX'
GITLAB_TOKEN='runner-registration-token'

GITHUB_RUNNER_TOKEN=xxx        # из Settings → Runners (живёт 1 час, только для регистрации)
GITHUB_REPO=tsuyakashi/poly-ci

BB_ACCOUNT_UUID={workspace-uuid}
BB_REPOSITORY_UUID={repository-uuid}
BB_RUNNER_UUID={runner-uuid}
BB_OAUTH_CLIENT_ID=xxx
BB_OAUTH_CLIENT_SECRET=xxx

JENKINS_ADMIN_PASSWORD=admin123

ELASTIC_PASSWORD=MyPw123
KIBANA_SYSTEM_PASSWORD=KibanaSecurePassword123
